ul {
  list-style-type: disc;
}
ul li {
  display: list-item;
  list-style: disc;
}

dl,
ol,
div.wy-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none
}

div.wy-menu ul li {
    list-style: none
}
