name: Docs
on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    branches:
      - master
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-oda-ca-docs
        uses: actions/checkout@v2
        with:
          path: oda-ca-docs
      - name: checkout-oda-canvas
        uses: actions/checkout@v2
        with:
          repository: tmforum-oda/oda-canvas
          path: oda-canvas
      - name: checkout-oda-component-ctk
        uses: actions/checkout@v2
        with:
           repository: tmforum-oda/oda-component-ctk
           path: oda-component-ctk
      - uses: actions/setup-python@v2
      - name: Install dependencies
        working-directory: oda-ca-docs/doc
        run: |
          pip install -r requirements.txt
      - name: Sphinx build
        working-directory: oda-ca-docs/doc
        run: |
          sphinx-build . _build
          cp ../google6235ca3ee03a50cf1.html _build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: oda-ca-docs/doc/_build/
          force_orphan: true